/node-server/node_modules
/reactapp/node_modules
/myOwnApp/node_modules
/ES6/Assessment/react-redux_assesment/node-server_assessment/node_modules
/ES6/Assessment/react-redux_assesment/react-app-assess/node_modules